{% extends "base.html" %}
{% block extra_css %}
<style>
    .password_rest_confirm {
        background: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        /*text-align: center;*/
    }
    button {
        background-color: #64C2DB;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }
    button:hover {
        background-color: #4fa6bd;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    h1, h2 {
        margin-top: 0;
    }
</style>
{% endblock %}
{% block content %}
  <div class="password_rest_confirm">
    <h2>Set New Password</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change my password</button>
  </form>
  </div>
{% endblock %}
