/* General styles for the container */
.container {
    display: flex;
}

/* Styles for the top bar */
.top-bar {
    background-color: #64C2DB;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.top-bar h1 {
    margin: 0;
    font-size: 1.8em;
    color: white !important;
}

.top-bar p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

/* Styles for the map section */
.map-section {
    width: 70%;
    height: 100vh;
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for the listings section */
.listings-section {
    width: 30%;
    overflow-y: auto;
    height: 100vh;
    /*padding: 10px;*/
    padding-left: 24px;
}

/* Styles for the search filters */
.search-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #64C2DB;
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);*/
    padding-bottom: 28px;
}

/* Styles for individual filter elements */
.search-filters input,
.search-filters select {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 20%;
}

.search-filters input{
    height: 42px;
}

.search-filters select{
    height: 44px;
}

/* Styles for the category filter to handle multiple selection */
.search-filters select#category {
    flex: 2;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    height: 42px;
}

/* Styles for the listing boxes */
.listing-box {
    border: 1px solid #ddd;
    padding: 15px;
    /*margin: 10px 0;*/
    margin-bottom: 10px;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Styles for the featured label */
.featured {
    position: absolute;
    /* top: 10px; */
    right: 15px;
    background-color: #64C2DB;
    padding: 5px 10px;
    /* border-radius: 4px; */
    font-weight: bold;
    color: #fff;
}

/* Styles for the listing thumbnail image */
.listing-thumbnail-image {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
}

.listing-thumbnail-image img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
    display: block;
}

/* Ensure the listing image does not cross the main section */
.listing-thumbnail-image a {
    display: block;
    overflow: hidden;
    border-radius: 8px;
}

/* Styles for the listing text content */
.listing-box h2 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.listing-box p {
    margin: 5px 0;
    color: #666;
}

/* Styles for the price and view details button at the bottom */
.listing-box .listing-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.listing-box p.price {
    font-weight: bold;
    color: #333;
    margin: 0;
}

.listing-box .view-details-btn {
    background-color: #64C2DB;
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.listing-box .view-details-btn:hover {
    background-color: #4fa6bd;
}

/* Ensure image size consistency */
.listing-thumbnail-image img {
    max-height: 200px;
}

/* Add this to the CSS */
.listing-box.highlighted {
    border: 2px solid #64C2DB;
}

/* Floating element for total results */
.total-results.floating {
    position: fixed;
    top: 100px;
    right: 15px;
    background: #000;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: #fff;
}

.choices{
    border-radius: 5px !important;
    width: 20% !important;
    height: 47px !important;
    margin-bottom: 0 !important;
}

#min_price::placeholder, #max_price::placeholder, #sort_by::placeholder {
    padding-left: 10px; /* Adjust the value as needed */
    font-size: 14px;
    opacity: .5;
}



/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .map-section {
        width: 100%;
        height: 300px;
    }

    .listings-section {
        width: 100%;
        height: auto;
        padding: 0;
        box-shadow: none;
        background-color: transparent;
    }

    .listing-box {
        margin: 10px auto;
        width: 90%;
        border-radius: 8px;
    }

    .search-filters {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .search-filters select,
    .search-filters select#category,
    .search-filters input {
        width: calc(50% - 10px);
    }

    .search-filters input[type="number"] {
        flex: 1;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .map-section {
        width: 100%;
        height: 300px;
    }

    .listings-section {
        width: 100%;
        height: auto;
        padding: 0;
        box-shadow: none;
        background-color: transparent;
    }

    .listing-box {
        margin: 10px auto;
        width: 90%;
        border-radius: 8px;
    }

    .search-filters {
        flex-direction: column;
    }

    .search-filters select,
    .search-filters select#category,
    .search-filters input {
        width: 100%;
    }

    .search-filters input {
        width: 98%;
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

@media (max-width: 480px) {
    .total-results.floating {
        top: 10px;
        right: 10px;
        padding: 5px;
    }

    .choices{
        width: 100% !important;
    }

    .container{
        border-radius: 0;
    }
}