{% for listing in listings %}
<div class="listing-box" id="listing-{{ listing.id }}">
    {% if listing.is_featured %}
    <div class="featured">Featured</div>
    {% endif %}
    <div class="listing-thumbnail-image">
        <a href="{{ listing.thumbnail_image.url }}" class="listing-popup-link"><img src="{{ listing.thumbnail_image.url }}" alt="Image for {{ listing.project_name }}"></a>
    </div>
    <h2>{{ listing.project_name }}</h2>
    <p>{{ listing.project_address }}</p>
    <p>{{ listing.project_description|truncatewords:20 }}</p>
    <div class="listing-bottom">
        <p class="price">Price: {{ listing.sales_price }}</p>
        <a href="{% url 'listing_detail' listing.slug %}" class="view-details-btn">View Details</a>
    </div>
</div>
{% endfor %}
