a {
  text-decoration: none; /* Remove underline from links */
}
#home-page label{
  text-align: center;
}
.background-container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.background-slider .slide img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
}

.header-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 34px;
  color: #ffffff;
  text-align: center;
  margin-top: 60px;
}

.search-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 900px;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0 auto;
  margin-top: -140px;
}

.search-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #04436C;
}

.search-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.field {
  flex: 1 1 200px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
}

.field-half {
  flex: 1 1 calc(50% - 10px);
  min-width: 150px;
}

.field label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #04436C;
}

.field input,
.field select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.field button {
  width: 100%;
  padding: 10px;
  background-color: #64C2DB;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.field button:hover {
  background-color: #4fa6bd;
}

.ui-autocomplete{
  z-index: 1050 !important;
}

.choices__inner{
  min-height: 0 !important;
  background: #fff !important;
  border-radius: 5px !important;
  padding: 6.75px 7.5px 3.75px !important;
}

@media (max-width: 768px) {
  .search-fields {
    flex-direction: column;
  }
  .field,
  .field-half {
    flex: 1 1 100%;
  }
}

/* Category section */
.categories-container {
  padding: 20px;
  background-color: #f9f9f9;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center; /* Center the category section */
}

.categories-header {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.slick-track {
  display: flex;
  justify-content: center;
}

.category-box {
  display: inline-block; /* Make sure the category boxes are centered */
  width: 220.667px !important;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: transform 0.3s ease;
  text-align: center;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

.category-box a {
  text-decoration: none;
  color: inherit;
}

.category-box:hover {
  transform: translateY(-5px);
}

.category-icon {
  background-color: #fef7f7;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px;
}

.category-icon img {
  width: 32px;
  height: 32px;
}

.category-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.category-info h3 {
  font-size: 1.125rem;
  color: #333;
  transition: color 0.3s ease;
}

.category-info p {
  font-size: 0.875rem;
  color: #666;
}

.category-box:hover .category-info h3 {
  color: #fab0a2;
}

.slick-prev,
.slick-next {
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: darkgray;
}

.slick-dots {
  position: static !important; /* Override position to static */
  bottom: auto !important; /* Override bottom to auto */
  display: block !important;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;
  text-align: center !important;
}

.slick-dots li button:before {
  color: black;
}

@media (max-width: 768px) {
  .slider-container .slick-slide {
    display: flex;
    justify-content: center;
  }

  .product-item {
    width: 90%;
    max-width: 300px;
  }

  .categories-container {
    margin-top: 300px;
  }

  .slick-dots {
    bottom: -1px !important;
  }

  .background-container {
    margin-top: -40px;
  }
}

/* Listings section */
.listings-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  text-align: center;
  background: #f9f9f9;
}

.listings-header {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

.listing-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 20px;
  text-align: left;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 15px;
  transition: transform 0.2s;
  width: calc(25% - 30px);
  box-sizing: border-box;
}

.listing-box:hover {
  transform: scale(1.05);
}

.listing-thumbnail-image img {
  display: block;
  margin: 0 auto 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.listing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.listing-header .listing-date {
  font-size: 0.9em;
  color: #777;
  align-self: flex-start;
}

.listing-category {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 10px;
}

.listing-category .category-link {
  color: #64C2DB;
  text-decoration: none;
  margin-right: 5px;
}

.listing-category .category-link:hover {
  text-decoration: underline;
}

.listing-box h2 {
  color: black;
  font-size: 18px;
  /*margin: 10px 0;*/
}

.listing-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.listing-bottom .price {
  color: #64C2DB;
  font-size: 16px;
  margin: 10px 0;
}

.listing-bottom .view-details-btn {
  background-color: #64C2DB;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}

.listing-bottom .view-details-btn:hover {
  background-color: #4fa6bd;
}

@media (max-width: 1024px) {
  .listing-box {
    width: calc(33.33% - 30px);
  }
}

@media (max-width: 768px) {
  .listing-box {
    width: calc(50% - 30px);
  }
}

@media (max-width: 480px) {
  .listing-box {
    width: calc(100% - 30px);
  }

  .header-text{
    font-size: 18px;
  }
  .search-container{
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: -200px;
    width: 80%;
  }
  .categories-container{
    margin-top: 32px;
  }
  
}