<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}{{ site_settings.site_title }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/popup-styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/footer.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <link rel="icon" href="{{ site_settings.site_favicon.url }}">
    <!-- Include jQuery and Choices JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/choices.js/9.0.1/styles/choices.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/choices.js/9.0.1/scripts/choices.min.js"></script>
    <meta name="description" content="{{ site_settings.site_description }}">
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    {% for key, value in site_settings.meta_data.items %}
    <meta name="{{ key }}" content="{{ value }}">
    {% endfor %}
    {% block extra_css %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>

<body id="home-page">
    {% include 'partials/site-header.html' %}
    {% include 'partials/messages-popup.html' %}

    {% if not user.is_authenticated %}
    {% include 'partials/login-popup.html' %}
    {% endif %}

    <div class="{% if user.is_authenticated and request.resolver_match.url_name in 'dashboard,create_listing,buy_package_listing,transaction_history,seller_listings,update_profile,dashboard,change_password,edit_listing,seller_messages,message_detail,add_payment_method' %}container with-sidebar{% endif %}">
        {% if user.is_authenticated and request.resolver_match.url_name in 'dashboard,create_listing,buy_package_listing,transaction_history,seller_listings,update_profile,dashboard,change_password,edit_listing,seller_messages,message_detail,add_payment_method'%}
        <aside class="sidebar">
            <h2>Account Settings</h2>
            <p>Welcome, {{ request.user.username }}!</p>
            <ul class="dashboard-menu">
                <li><a href="{% url 'dashboard' %}" class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"><span class="icon"><i class="fa-solid fa-bars"></i></span>Dashboard</a></li>
                <li><a href="{% url 'create_listing' %}" class="{% if request.resolver_match.url_name == 'create_listing' %}active{% endif %}"><span class="icon"><i class="fas fa-plus-circle"></i></span>Create a new listing</a></li>
                <li><a href="{% url 'add_payment_method' %}" class="{% if request.resolver_match.url_name == 'add_payment_method' %}active{% endif %}"><span class="icon"><i class="fas fa-credit-card"></i></span>Add Payment Method</a></li>
                <li><a href="{% url 'buy_package_listing' %}" class="{% if request.resolver_match.url_name == 'buy_package_listing' %}active{% endif %}"><span class="icon"><i class="fas fa-box-open"></i></span>Manage Membership</a></li>
                <li><a href="{% url 'transaction_history' %}" class="{% if request.resolver_match.url_name == 'transaction_history' %}active{% endif %}"><span class="icon"><i class="fas fa-history"></i></span>View your transaction history</a></li>
                <li><a href="{% url 'seller_listings' %}" class="{% if request.resolver_match.url_name == 'seller_listings' %}active{% endif %}"><span class="icon"><i class="fas fa-list-alt"></i></span>View your listings</a></li>
                <li><a href="{% url 'all_listings' %}" class="{% if request.resolver_match.url_name == 'all_listings' %}active{% endif %}"><span class="icon"><i class="fas fa-th-list"></i></span>View all listings</a></li>
                <li><a href="{% url 'update_profile' %}" class="{% if request.resolver_match.url_name == 'update_profile' %}active{% endif %}"><span class="icon"><i class="fas fa-user-edit"></i></span>Update your profile</a></li>
                <li><a href="{% url 'change_password' %}" class="{% if request.resolver_match.url_name == 'change_password' %}active{% endif %}"><span class="icon"><i class="fas fa-key"></i></span>Change your password</a></li>
                <li><a href="{% url 'seller_messages' %}" class="{% if request.resolver_match.url_name == 'seller_messages' %}active{% endif %}"><span class="icon"><i class="fas fa-envelope"></i></span>View your messages</a></li>
                <li>
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit"><span class="icon"><i class="fas fa-sign-out-alt"></i></span>Logout</button>
                    </form>
                </li>
            </ul>
        </aside>
        {% endif %}
        <main class="{% if user.is_authenticated and request.resolver_match.url_name in 'create_listing,buy_package_listing,transaction_history,seller_listings,update_profile,dashboard,change_password,edit_listing,seller_messages' %}with-sidebar-content{% else %}container-visitor-view{% endif %}">
            {% block content %}
            {% endblock %}
        </main>        
    </div>    

    {% include 'partials/site-footer.html' %}
    <!-- <script src="{% static 'script.js' %}"></script> -->
    <!-- <script src="{% static 'dynamic_forms.js' %}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>   
    {% if user.is_authenticated %}
    <script src="{% static 'loggedin.js' %}"></script>  
    {% endif %}               
    {% block extra_js %}
    {% endblock %}
</body>
</html>
