{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Buy Packages or Listings{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'package/styles.css' %}">
{% endblock %}
{% block extra_head %}
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block content %}
<section class="plans__container">
    <div class="plans">
        <div class="plansHero">
            <h1 class="plansHero__title">Simple, Transparent Pricing</h1>
            <p class="plansHero__subtitle">No contracts. No surprise fees.</p>
            {% if not user.seller.stripe_payment_method_id and user.seller.package %}
                <div style="background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; border-radius: 5px; padding: 10px; margin: 20px 0 0; text-align: center;">
                    <p style="font-size: 16px; margin: 0;">Please add a payment method to enable auto-renewal.</p>
                    <button style="background-color: #64C2DB; color: white; border: none; border-radius: 5px; padding: 10px 20px; margin-top: 10px; cursor: pointer;">Add Payment Method</button>
                </div>
            {% endif %}
        </div>
        {% if not show_package_container %}
        <div class="planItem planItem--free">
            <div class="card">
                <div class="card__top-bar"></div>
                <h2 class="card__title">No Active Membership Found</h2>
                <p class="card__desc">You must buy a Membership to start creating listings.</p>
            </div>
        </div>
        {% endif %}
        <div class="planItem__container">
            {% if show_package_container %}
            <div class="planItem">
                <div class="card">
                    <div class="card__top-bar"></div>
                    <div class="expiry-date">
                        <p><i class="fas fa-calendar-alt"></i> Expiry Date: {{ user.seller.membership_expiry }}</p>
                    </div>
                    <h2 class="card__title">Current Membership: {{ user.seller.package.name }}</h2>
                    <div class="card__desc single-row">
                        <div>
                            <p><i class="fas fa-thumbtack"></i> Normal Posts: {{ normal_posts_used }}/{{ total_normal_posts }}</p>
                            <p><i class="fas fa-star"></i> Featured Posts: {{ featured_posts_used }}/{{ total_featured_posts }}</p>
                        </div>
                        <div>
                            <p class="floating-text"><i class="fas fa-cube"></i> Membership Type: {{ user.seller.package.get_duration_unit_display }}</p>
                            <p><i class="fas fa-sync-alt"></i> Auto-Renewal: {{ user.seller.is_auto_renew|yesno:"Enabled,Disabled" }}</p>
                        </div>
                    </div>
                    {% if user.seller.new_package %}
                    <div style="font-family: Arial, sans-serif; background: linear-gradient(to right, #64C2DB, #4fa6bd, #04436C); color: white; border-radius: 10px; padding: 20px; margin: 20px 0; box-shadow: 0 4px 8px rgba(0,0,0,0.1); text-align: center;">
                        <h2 style="font-size: 24px; margin: 0; color: white !important;">Upcoming Membership</h2>
                        <p style="font-size: 20px; margin: 10px 0 0;">{{ user.seller.new_package.name }}</p>
                        <p style="font-size: 16px; margin: 5px 0 0;">Membership starting time: {{user.seller.membership_expiry}}</p>
                    </div>                                                                          
                    {% endif %}
                    {% if user.seller.is_auto_renew %}
                    <form method="post" action="{% url 'cancel_auto_renew' %}" id="cancel-auto-renew-form">
                        {% csrf_token %}
                        <button type="button" class="button btn-warning full-width-button" id="cancel-auto-renew-button">Cancel Auto-Renewal</button>
                    </form>
                    {% endif %}
                    <div class="faq-link">
                        <p>To learn more about our Memberships, please visit our <a href="/faqs">FAQs</a>.</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if show_individual_listings %}
            <div class="planItem">
                <div class="card">
                    <div class="card__top-bar"></div>
                    <h2 class="card__title">Buy Individual Listings</h2>
                    <form method="post" id="unique-individual-listing-form">
                        {% csrf_token %}
                        <div class="listing-options-grid">
                            <div class="listing-option">
                                <label for="unique-individual-normal-posts">Normal Listings:</label>
                                <input type="range" id="unique-individual-normal-posts" name="normal_listings" min="0" max="10" value="0" class="range-slider">
                                <div class="range-output">
                                    <span id="unique-normal-listings-count">0</span>
                                    <span class="price">Price: $<span id="unique-normal-listing-price">{{ listing_price.normal_listing_price|floatformat:0|intcomma }}</span>/Listing</span>
                                    <span class="total-price">Total Price: $<span id="unique-total-normal-listing-price">0.00</span></span>
                                </div>
                            </div>
                            <div class="listing-option">
                                <label for="unique-individual-featured-posts">Featured Listings:</label>
                                <input type="range" id="unique-individual-featured-posts" name="featured_listings" min="0" max="5" value="0" class="range-slider">
                                <div class="range-output">
                                    <span id="unique-featured-listings-count">0</span>
                                    <span class="price">Price: $<span id="unique-featured-listing-price">{{ listing_price.featured_listing_price|floatformat:0|intcomma }}</span>/Listing</span>
                                    <span class="total-price">Total Price: $<span id="unique-total-featured-listing-price">0.00</span></span>
                                </div>
                            </div>
                        </div>
                        <button type="button" id="unique-buy-listings-button" class="button listings-button full-width-button">Buy Individual Listings</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
        {% if show_available_packages %}
        <div class="available-packages">
            <h2 class="available-packages__title" style="color: #fff !important;">Membership Plans</h2>
            <div class="packages-grid">
                {% for package in packages %}
                    {% if not user.seller.package or user.seller.package.id != package.id %}
                        {% if package.normal_post_limit|add:user.seller.individual_normal_post_count >= user.seller.normal_post_used and package.featured_post_limit|add:user.seller.individual_featured_post_count >= user.seller.featured_post_used %}
                            <div class="planItem planItem--pro">
                                <div class="card">
                                    <div class="card__top-bar"></div>
                                    <div class="package-type">
                                        <p class="floating-text"><i class="fas fa-cube"></i> Membership Type: {{ package.get_duration_unit_display }}</p>
                                    </div>
                                    <h2>{{ package.name }}</h2>
                                    <div class="card__desc">
                                        <p><i class="fas fa-thumbtack"></i> Normal Posts: {{ package.normal_post_limit }}</p>
                                        <p><i class="fas fa-star"></i> Featured Posts: {{ package.featured_post_limit }}</p>
                                        <p><i class="fas fa-dollar-sign"></i> Price: ${{ package.price|floatformat:0|intcomma }}</p>
                                    </div>
                                    <button type="button" class="button package-button full-width-button" data-package-id="{{ package.id }}" data-package-price="{{ package.price }}">
                                        {% if seller.package %}
                                        {% if package.normal_post_limit|add:user.seller.individual_normal_post_count >= user.seller.normal_post_used and package.featured_post_limit|add:user.seller.individual_featured_post_count >= user.seller.featured_post_used %}
                                            Switch Membership
                                        {% else %}
                                            Buy Membership
                                        {% endif %}
                                        {% else %}
                                            Buy Membership
                                        {% endif %}                                    
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</section>

<!-- Modal Popup for Payment -->
<div id="unique-payment-modal" class="modal">
    <div class="modal-content">
        <span class="closex">&times;</span>
        <h2 id="unique-modal-title"></h2>
        <p id="unique-modal-description"></p>
        <div id="unique-card-element" style="display: none;"></div>
        <div id="unique-card-errors" role="alert"></div>
        <button id="unique-stripe-button" class="button">Submit Payment</button>
    </div>
</div>

<!-- Modal Popup for Messages -->
<div id="unique-message-modal" class="modal">
    <div class="modal-content">
        <span class="close-message">&times;</span>
        <h2 id="unique-message-title"></h2>
        <p id="unique-message-content"></p>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://js.stripe.com/v3/"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    console.log('DOM fully loaded and parsed');

    var stripe = Stripe('{{ stripe_key }}');
    var elements = stripe.elements();
    var card = elements.create('card', {
        style: {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        }
    });

    var savedPaymentMethod = '{{ user.seller.stripe_payment_method_id|default_if_none:"" }}';
    var hasSavedPaymentMethod = savedPaymentMethod !== '';
    console.log('Saved payment method found:', hasSavedPaymentMethod);

    var cardElement = document.getElementById('unique-card-element');

    if (!hasSavedPaymentMethod && cardElement) {
        console.log('No saved payment method found');
        cardElement.style.display = 'block';
        card.mount('#unique-card-element');
        console.log('Card element mounted');
    } else if (cardElement) {
        cardElement.style.display = 'none';
    }

    var paymentModal = document.getElementById('unique-payment-modal');
    var messageModal = document.getElementById('unique-message-modal');
    var closePaymentModal = document.querySelector('.closex');
    var closeMessageModal = document.querySelector('.close-message');
    var stripeButton = document.getElementById('unique-stripe-button');

    var form; // Declare a variable to hold the form element
    var packageId; // Declare a variable to hold the package ID

    function getCsrfToken() {
        var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        console.log('Retrieved CSRF token:', csrfToken);
        return csrfToken;
    }

    function addCsrfTokenToForm(form) {
        var csrfToken = getCsrfToken();
        var csrfInput = document.createElement('input');
        csrfInput.setAttribute('type', 'hidden');
        csrfInput.setAttribute('name', 'csrfmiddlewaretoken');
        csrfInput.setAttribute('value', csrfToken);
        form.appendChild(csrfInput);
        console.log('Added CSRF token to form:', csrfToken);
    }

    function addHiddenInputToForm(form, name, value) {
        var input = document.createElement('input');
        input.setAttribute('type', 'hidden');
        input.setAttribute('name', name);
        input.setAttribute('value', value);
        form.appendChild(input);
        console.log(`Added hidden input to form: ${name}=${value}`);
    }

    function openModal(modal, title, description) {
        console.log(`Opening modal: ${modal}`);
        if (modal === 'unique-payment-modal') {
            var modalTitle = document.getElementById('unique-modal-title');
            var modalDescription = document.getElementById('unique-modal-description');

            if (modalTitle && modalDescription) {
                modalTitle.textContent = title;
                modalDescription.textContent = description;

                if (!hasSavedPaymentMethod && cardElement) {
                    console.log('Displaying card element in modal');
                    cardElement.style.display = 'block';
                    card.mount('#unique-card-element'); // Ensure the card element is mounted when needed
                } else if (cardElement) {
                    cardElement.style.display = 'none';
                }

                if (paymentModal) {
                    paymentModal.style.display = 'block';
                }
            }
        } else {
            var messageTitle = document.getElementById('unique-message-title');
            var messageContent = document.getElementById('unique-message-content');

            if (messageTitle && messageContent) {
                messageTitle.textContent = title;
                messageContent.textContent = description;
                if (messageModal) {
                    messageModal.style.display = 'block';
                }
            }
        }
    }

    function closeModal(modal) {
        console.log(`Closing modal: ${modal}`);
        if (modal === 'unique-payment-modal' && paymentModal) {
            paymentModal.style.display = 'none';
        } else if (modal === 'unique-message-modal' && messageModal) {
            messageModal.style.display = 'none';
        }
    }

    if (closePaymentModal) {
        closePaymentModal.onclick = function () {
            closeModal('unique-payment-modal');
        }
    }

    if (closeMessageModal) {
        closeMessageModal.onclick = function () {
            closeModal('unique-message-modal');
        }
    }

    window.onclick = function (event) {
        if (event.target == paymentModal) {
            closeModal('unique-payment-modal');
        }
        if (event.target == messageModal) {
            closeModal('unique-message-modal');
        }
    }

    function showLoadingSpinner() {
        var loadingSpinner = document.createElement('div');
        loadingSpinner.className = 'loading-spinner';
        if (stripeButton) {
            stripeButton.appendChild(loadingSpinner);
            stripeButton.disabled = true;
        }
    }

    function hideLoadingSpinner() {
        var loadingSpinner = document.querySelector('.loading-spinner');
        if (loadingSpinner && stripeButton) {
            stripeButton.removeChild(loadingSpinner);
            stripeButton.disabled = false;
        }
    }

    function handlePayment(event, amount, description) {
        event.preventDefault();
        console.log('Handling payment');

        showLoadingSpinner();

        if (hasSavedPaymentMethod) {
            console.log('Using saved payment method');
            if (form) {
                addHiddenInputToForm(form, 'amount', amount);
                addHiddenInputToForm(form, 'description', description);
                addCsrfTokenToForm(form);

                if (form.id === 'unique-package-form') {
                    addHiddenInputToForm(form, 'package_id', packageId);
                }

                console.log('Submitting form with saved payment method:', form);
                form.submit();
                return;
            }
        }

        stripe.createToken(card).then(function (result) {
            hideLoadingSpinner();
            if (result.error) {
                console.error('Stripe token creation error:', result.error.message);
                var errorElement = document.getElementById('unique-card-errors');
                if (errorElement) {
                    errorElement.textContent = result.error.message;
                }
            } else {
                console.log('Stripe token created successfully');
                if (form) {
                    addHiddenInputToForm(form, 'stripeToken', result.token.id);
                    addHiddenInputToForm(form, 'amount', amount);
                    addHiddenInputToForm(form, 'description', description);
                    addCsrfTokenToForm(form);

                    if (form.id === 'unique-package-form') {
                        addHiddenInputToForm(form, 'package_id', packageId);
                    }

                    console.log('Submitting form with Stripe token:', form);
                    form.submit();
                } else {
                    openModal('unique-message-modal', 'Error', 'Form not found.');
                }
            }
        });
    }

    document.querySelectorAll('.package-button').forEach(button => {
        button.addEventListener('click', function (event) {
            packageId = event.target.getAttribute('data-package-id');
            var packagePrice = parseFloat(event.target.getAttribute('data-package-price'));
            console.log(`Selected package ID: ${packageId}, price: ${packagePrice}`);
            if (isNaN(packagePrice) || packagePrice <= 0) {
                openModal('unique-message-modal', 'Error', 'Invalid package price.');
                return;
            }
            form = document.createElement('form'); // Dynamically create the form element
            form.setAttribute('method', 'post');
            form.setAttribute('id', 'unique-package-form');
            document.body.appendChild(form); // Append the form to the body
            addCsrfTokenToForm(form); // Ensure CSRF token is added to the form
            openModal('unique-payment-modal', 'Buy Package', 'You are about to purchase a package for $' + packagePrice);
            if (stripeButton) {
                stripeButton.onclick = function (e) {
                    handlePayment(e, packagePrice, 'Purchase Package ID: ' + packageId);
                };
            }
        });
    });

    var normalPostsSlider = document.getElementById('unique-individual-normal-posts');
    var normalPostsCount = document.getElementById('unique-normal-listings-count');
    var normalListingPriceElement = document.getElementById('unique-normal-listing-price');
    var totalNormalListingPrice = document.getElementById('unique-total-normal-listing-price');
    var normalListingPrice = normalListingPriceElement ? parseFloat(normalListingPriceElement.textContent) : 0;

    if (normalPostsSlider && normalPostsCount && totalNormalListingPrice) {
        normalPostsSlider.addEventListener('input', function () {
            normalPostsCount.textContent = normalPostsSlider.value;
            totalNormalListingPrice.textContent = (normalPostsSlider.value * normalListingPrice).toFixed(2);
        });
    }

    var featuredPostsSlider = document.getElementById('unique-individual-featured-posts');
    var featuredPostsCount = document.getElementById('unique-featured-listings-count');
    var featuredListingPriceElement = document.getElementById('unique-featured-listing-price');
    var totalFeaturedListingPrice = document.getElementById('unique-total-featured-listing-price');
    var featuredListingPrice = featuredListingPriceElement ? parseFloat(featuredListingPriceElement.textContent) : 0;

    if (featuredPostsSlider && featuredPostsCount && totalFeaturedListingPrice) {
        featuredPostsSlider.addEventListener('input', function () {
            featuredPostsCount.textContent = featuredPostsSlider.value;
            totalFeaturedListingPrice.textContent = (featuredPostsSlider.value * featuredListingPrice).toFixed(2);
        });
    }

    var buyListingsButton = document.getElementById('unique-buy-listings-button');
    if (buyListingsButton) {
        buyListingsButton.addEventListener('click', function (event) {
            var normalListings = normalPostsSlider ? parseInt(normalPostsSlider.value, 10) : 0;
            var featuredListings = featuredPostsSlider ? parseInt(featuredPostsSlider.value, 10) : 0;
            console.log(`Normal Listings: ${normalListings}, Featured Listings: ${featuredListings}`);
            if (isNaN(normalListings) || isNaN(featuredListings) || normalListings < 0 || featuredListings < 0) {
                openModal('unique-message-modal', 'Error', 'Please enter a valid number of listings.');
                return;
            }
            var totalAmount = (normalListings * normalListingPrice) + (featuredListings * featuredListingPrice);
            console.log(`Total Amount: ${totalAmount}`);
            if (totalAmount <= 0) {
                openModal('unique-message-modal', 'Error', 'Total amount must be greater than zero.');
                return;
            }
            form = document.getElementById('unique-individual-listing-form'); // Set the form variable to the individual listing form
            addCsrfTokenToForm(form); // Ensure CSRF token is added to the form
            openModal('unique-payment-modal', 'Buy Individual Listings', 'You are about to purchase individual listings for $' + totalAmount.toFixed(2));
            if (stripeButton) {
                stripeButton.onclick = function (e) {
                    handlePayment(e, totalAmount, 'Purchase Individual Listings');
                };
            }
        });
    }

    var cancelAutoRenewButton = document.getElementById('cancel-auto-renew-button');
    if (cancelAutoRenewButton) {
        cancelAutoRenewButton.addEventListener('click', function(event) {
            event.preventDefault();
            if (confirm('If you remove saved payment method, after the expiry of this Membership all your listings will be inactive. Do you want to continue?')) {
                var cancelAutoRenewForm = document.getElementById('cancel-auto-renew-form');
                if (cancelAutoRenewForm) {
                    cancelAutoRenewForm.submit();
                }
            }
        });
    }
});
</script>
{% endblock %}
