{% extends "base.html" %}
{% load form_filters %}
{% load static %}
{% block title %}Create Listing{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'listing/styles.css' %}">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
    label[for="id_status"] {
        display: none !important;
    }
</style>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<style>
    .jconfirm {
        z-index: 10000 !important;
    }
    .jconfirm-box {
        margin: 0 auto;
        top: 50% !important;
    }

    .jc-bs3-row.row.justify-content-md-center.justify-content-sm-center.justify-content-xs-center.justify-content-lg-center{
        margin: 0 auto;
    }
</style>
{% endblock %}
{% block content %}
<div class="listing-create-container">
    <h2 style="margin-top: -30px;">Create Listing</h2>
    <form id="listing-create-form" method="post" enctype="multipart/form-data" class="listing-create-form">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div id="form-content">
            {% for field_name in field_order %}
                {% with form|get_field:field_name as field %}
                    <div class="listing-create-form-group {% if field_name in 'lease_term current_lease_rate_per_acre lease_escalation_rate' %}lease-field{% endif %}{% if field_name == 'battery_storage' %} battery-storage{% endif %}" {% if field_name == 'battery_storage' %}style="display: none;"{% endif %}>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.field.widget.input_type == 'number' and field_name|not_in_list:'latitude,longitude' %}
                            <!-- Visible text input for formatted number -->
                            <input type="text" id="formatted_{{ field.id_for_label }}" placeholder="{{ field.label }}" 
                                class="form-control" value="{{ form.initial.field_name }}">
                            <!-- Hidden input to actually submit data -->
                            {{ field.as_hidden }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endwith %}
            {% endfor %}
        </div>

        <h3>Listing Images</h3>
        <div class="listing-create-form-group">
            <label for="id_images">Upload Images</label>
            <input type="file" id="id_images" name="images" multiple>
            <small class="form-text text-muted">You can select multiple images or drag and drop them here.</small>
        </div>

        <button id="submit-button" type="submit" class="listing-create-btn btn btn-primary">Create Listing</button>
    </form>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script>
    function initializeTinyMCE() {
        tinymce.remove(); // Removes all existing TinyMCE instances
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists link',
            menubar: false,
            toolbar: 'bold italic underline | bullist numlist | link',
            height: 300,
            branding: false,
            forced_root_block: 'p',
            force_p_newlines: true,
            force_br_newlines: false,
            content_css: false,
            content_style: "body { font-family:Helvetica,Arial,sans-serif; font-size:14px }",
            valid_elements: 'p,b,strong,i,em,a[href],ul,ol,li',
            invalid_elements: 'script,iframe,object,embed',
            license_key: 'gpl' // Set the license key
        });
    }

    function toggleLeaseFields() {
        var leaseFields = document.querySelectorAll('.lease-field');
        var propertyType = document.getElementById('id_property_type').value;
        leaseFields.forEach(function (fieldElement) {
            if (propertyType === 'lease') {
                fieldElement.style.display = 'block';
            } else {
                fieldElement.style.display = 'none';
            }
        });
    }

    function toggleBatteryStorage() {
        var batteryField = document.querySelector('.battery-storage');
        var selectedCategories = Array.from(document.querySelectorAll('#id_categories input[type="checkbox"]:checked')).map(cb => cb.labels[0].textContent.trim());
        if (selectedCategories.includes('BESS')) {
            batteryField.style.display = 'block';
        } else {
            batteryField.style.display = 'none';
        }
    }

    function formatNumberWithCommas(number) {
        return number.replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function stripCommas(numberString) {
        return numberString.replace(/,/g, '');
    }

    function attachNumberFieldListeners() {
        $('input[type="text"][id^="formatted_"]').each(function() {
            var originalInput = $(this).next('input[type="hidden"]');
            if (originalInput.length) {
                this.value = formatNumberWithCommas(originalInput.val());
            }
        }).on('input', function () {
            var value = stripCommas(this.value);
            this.value = formatNumberWithCommas(value);
            var hiddenInput = document.getElementById(this.id.replace('formatted_', ''));
            if (hiddenInput) {
                hiddenInput.value = value;
            }
        }).on('focus', function () {
            var value = stripCommas(this.value);
            this.value = value;
        }).on('blur', function () {
            var value = stripCommas(this.value);
            this.value = formatNumberWithCommas(value);
        });
    }

    function scrollToFirstError() {
        var firstErrorElement = $('.is-invalid').first();
        if (firstErrorElement.length) {
            $('html, body').animate({
                scrollTop: firstErrorElement.offset().top - 100
            }, 1000);
        }
    }

    function handleStateFieldLogic() {
        var countryId = $('#id_project_country').val();
        var stateFieldWrapper = $('.listing-create-form-group:has(#id_project_state)');

        if (countryId === "{{ country_us_id }}" || countryId === "{{ country_ca_id }}") {
            stateFieldWrapper.show();
            var url = "{% url 'listing_load_states' %}";
            $.ajax({
                url: url,
                data: {
                    'country_id': countryId
                },
                success: function (data) {
                    $('#id_project_state').html('<option value="">Select a state</option>');
                    $.each(data, function (key, value) {
                        $('#id_project_state').append('<option value="' + value.id + '">' + value.name + '</option>');
                    });
                    $('#id_project_state').trigger('change.select2');
                }
            });
        } else {
            stateFieldWrapper.hide();
            $('#id_project_state').html('<option value="">Not applicable</option>');
        }
    }

    $(document).ready(function() {
        $('#id_project_country').select2();
        $('#id_project_state').select2();

        document.getElementById('id_property_type').addEventListener('change', toggleLeaseFields);
        $('#id_categories').change(toggleBatteryStorage);

        // Call toggle functions on page load
        toggleLeaseFields();
        toggleBatteryStorage();

        $('#id_project_country').change(handleStateFieldLogic);

        var countrySelect = document.getElementById('id_project_country');
        var selectedCountry = countrySelect.value;
        if (selectedCountry) {
            $(countrySelect).trigger('change');
        }

        var stateSelect = document.getElementById('id_project_state');
        var selectedState = stateSelect.value;
        if (selectedState) {
            $(stateSelect).trigger('change');
        }

        attachNumberFieldListeners();

        $('#listing-create-form').submit(function(e) {
            e.preventDefault();
            tinymce.triggerSave(); // Save TinyMCE content to the underlying textarea

            // Update hidden inputs before submission
            $('input[type="text"][id^="formatted_"]').each(function() {
                var hiddenInput = document.getElementById(this.id.replace('formatted_', ''));
                if (hiddenInput) {
                    hiddenInput.value = stripCommas(this.value);
                }
            });

            var formData = new FormData(this);

            $('#submit-button').prop('disabled', true).html('Creating...');

            $.ajax({
                type: 'POST',
                url: '{% url "create_listing" %}',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if (response.success) {
                        window.location.href = response.redirect_url;
                    }
                },
                error: function(xhr) {
                    $('#form-content').html(xhr.responseJSON.form_html || '');
                    var errors = xhr.responseJSON.errors || {};
                    var firstErrorElement = null;

                    console.log('Errors:', errors); // Debugging the errors returned

                    $.each(errors, function(field, messages) {
                        var fieldElement = $('[name="' + field + '"]').closest('.listing-create-form-group');
                        if (fieldElement.length) {
                            fieldElement.addClass('is-invalid');
                            fieldElement.find('.invalid-feedback').html(messages.join(', '));
                            if (!firstErrorElement) {
                                firstErrorElement = fieldElement[0];
                            }
                        } else {
                            // Handle non-field errors
                            if (!firstErrorElement && field === '__all__') {
                                var nonFieldErrors = messages.join(', ');
                                $('#form-content').prepend('<div class="alert alert-danger non-field-error">' + nonFieldErrors + '</div>');
                                firstErrorElement = $('.non-field-error')[0];
                            }
                        }
                    });

                    $.alert({
                        title: 'Error',
                        content: 'Please fix the highlighted errors and try again.',
                        onClose: function () {
                            scrollToFirstError();
                            handleStateFieldLogic();
                        }
                    });

                    attachNumberFieldListeners();
                    $('#submit-button').prop('disabled', false).html('Create Listing');
                    initializeTinyMCE();
                    $('#id_project_country').select2();
                    $('#id_project_state').select2();
                    toggleLeaseFields(); // Reapply toggle logic for lease fields
                    toggleBatteryStorage(); // Reapply toggle logic for battery storage
                }
            });
        });

        initializeTinyMCE();
    });
</script>
{% endblock %}
