{% extends "base.html" %}
{% load form_filters %}
{% load static %}
{% block title %}Create Listing{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'listing/styles.css' %}">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="listing-create-container">
    <h2 style="margin-top: -30px;">Create Listing</h2>
    <form id="listing-create-form" method="post" enctype="multipart/form-data" class="listing-create-form">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div id="form-content">
            {% for field_name in field_order %}
                {% with form|get_field:field_name as field %}
                    <div class="listing-create-form-group {% if field_name in 'lease_term current_lease_rate_per_acre lease_escalation_rate' %}lease-field{% endif %}{% if field_name == 'battery_storage' %} battery-storage{% endif %}" {% if field_name == 'battery_storage' %}style="display: none;"{% endif %}>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endwith %}
            {% endfor %}
        </div>

        <h3>Listing Images</h3>
        <div class="listing-create-form-group">
            <label for="id_images">Upload Images</label>
            <input type="file" id="id_images" name="images" multiple>
            <small class="form-text text-muted">You can select multiple images or drag and drop them here.</small>
        </div>

        <button id="submit-button" type="submit" class="listing-create-btn btn btn-primary">Create Listing</button>
    </form>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    function initializeTinyMCE() {
        tinymce.remove(); // Removes all existing TinyMCE instances
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists link',
            menubar: false,
            toolbar: 'bold italic underline | bullist numlist | link',
            height: 300,
            branding: false,
            forced_root_block: 'p',
            force_p_newlines: true,
            force_br_newlines: false,
            content_css: false,
            content_style: "body { font-family:Helvetica,Arial,sans-serif; font-size:14px }",
            valid_elements: 'p,b,strong,i,em,a[href],ul,ol,li',
            invalid_elements: 'script,iframe,object,embed',
            license_key: 'gpl' // Set the license key
        });
    }

    $(document).ready(function() {
        $('#id_project_country').select2();
        $('#id_project_state').select2();
        $('#id_project_city').select2();

        function toggleLeaseFields() {
            var leaseFields = document.querySelectorAll('.lease-field');
            var propertyType = document.getElementById('id_property_type').value;
            leaseFields.forEach(function (fieldElement) {
                if (propertyType === 'lease') {
                    fieldElement.style.display = 'block';
                } else {
                    fieldElement.style.display = 'none';
                }
            });
        }

        document.getElementById('id_property_type').addEventListener('change', toggleLeaseFields);

        // Call toggleLeaseFields on page load
        toggleLeaseFields();

        $('#id_project_country').change(function () {
            var url = "{% url 'listing_load_states' %}";
            var countryId = $(this).val();
            $.ajax({
                url: url,
                data: {
                    'country_id': countryId
                },
                success: function (data) {
                    $('#id_project_state').html('<option value="">Select a state</option>');
                    $.each(data, function (key, value) {
                        $('#id_project_state').append('<option value="' + value.id + '">' + value.name + '</option>');
                    });
                    $('#id_project_state').trigger('change.select2');
                }
            });
        });

        function formatNumberWithCommas(number) {
            return number.replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function stripCommas(numberString) {
            return numberString.replace(/,/g, '');
        }

        // On input, unformat the number if it's not purely numerical (fallback for manual edits)
        $('input[type="number"]').on('input', function () {
            const plainNumber = stripCommas($(this).val());
            $(this).val(plainNumber);
        });

        // On focus, remove commas so the user can edit the raw number
        $('input[type="number"]').on('focus', function () {
            const plainNumber = stripCommas($(this).val());
            $(this).val(plainNumber);
        });

        // On blur, format the text field to show commas for thousands
        $('input[type="number"]').on('blur', function () {
            const formattedNumber = formatNumberWithCommas($(this).val());
            $(this).val(formattedNumber);
        });
           

        $('#id_project_state').change(function () {
            var url = "{% url 'listing_load_cities' %}";
            var stateId = $(this).val();
            $.ajax({
                url: url,
                data: {
                    'state_id': stateId
                },
                success: function (data) {
                    $('#id_project_city').html('<option value="">Select a city</option>');
                    $.each(data, function (key, value) {
                        $('#id_project_city').append('<option value="' + value.id + '">' + value.name + '</option>');
                    });
                    $('#id_project_city').trigger('change.select2');
                }
            });
        });

        function toggleBatteryStorage() {
            var batteryField = document.querySelector('.battery-storage');
            var selectedCategories = Array.from(document.querySelectorAll('#id_categories input[type="checkbox"]:checked')).map(cb => cb.labels[0].textContent.trim());
            if (selectedCategories.includes('BESS')) {
                batteryField.style.display = 'block';
            } else {
                batteryField.style.display = 'none';
            }
        }

        $('#id_categories').change(function () {
            toggleBatteryStorage();
        });

        toggleBatteryStorage();

        var countrySelect = document.getElementById('id_project_country');
        var selectedCountry = countrySelect.value;
        if (selectedCountry) {
            $(countrySelect).trigger('change');
        }

        var stateSelect = document.getElementById('id_project_state');
        var selectedState = stateSelect.value;
        if (selectedState) {
            $(stateSelect).trigger('change');
        }

        $('#listing-create-form').submit(function(e) {
            e.preventDefault();
            tinymce.triggerSave(); // Save TinyMCE content to the underlying textarea

            $('form').on('submit', function() {
                $('input[type="number"]').each(function () {
                    const plainNumber = stripCommas($(this).val());
                    $(this).val(plainNumber);
                });
            });
            
            var formData = new FormData(this);

            $('#submit-button').prop('disabled', true).html('Creating...');

            $.ajax({
                type: 'POST',
                url: '{% url "create_listing" %}',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if (response.success) {
                        window.location.href = response.redirect_url;
                    }
                },
                error: function(xhr) {
                    $('#form-content').html(xhr.responseJSON.form_html || '');
                    var errors = xhr.responseJSON.errors || {};
                    var firstErrorElement = null;

                    console.log('Errors:', errors); // Debugging the errors returned

                    $.each(errors, function(field, messages) {
                        var fieldElement = $('[name="' + field + '"]');
                        if (fieldElement.length) {
                            fieldElement.addClass('is-invalid');
                            fieldElement.next('.invalid-feedback').html(messages.join(', '));
                            if (!firstErrorElement) {
                                firstErrorElement = fieldElement;
                            }
                        } else {
                            // Handle non-field errors
                            if (!firstErrorElement && field === '__all__') {
                                var nonFieldErrors = messages.join(', ');
                                $('#form-content').prepend('<div class="alert alert-danger non-field-error">' + nonFieldErrors + '</div>');
                                firstErrorElement = $('.non-field-error');
                            }
                        }
                    });

                    if (firstErrorElement && firstErrorElement.length > 0) {
                        console.log('First error element:', firstErrorElement);
                        firstErrorElement[0].scrollIntoView({ behavior: 'smooth', block: 'center' });
                    } else {
                        console.error('First error element not found.');
                    }

                    $('#submit-button').prop('disabled', false).html('Create Listing');
                    initializeTinyMCE();
                    $('#id_project_country').select2();
                    $('#id_project_state').select2();
                    $('#id_project_city').select2();
                }
            });
        });

        initializeTinyMCE();
    });
</script>
{% endblock %}
