{% extends "base.html" %}
{% load form_filters %}
{% load static %}
{% block title %}Edit Listing - {{ form.instance.project_name }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'listing/styles.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<style>
    /* Popup Modal Styles */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1050; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: hidden; /* Disable scroll if needed */
        background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    }

    .modal-dialog {
        position: relative;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 500px;
    }

    .modal-content {
        background-color: #fff;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 8px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        text-align: center;
    }

    .modal-header, .modal-footer {
        padding: 4px;
    }

    .modal-header {
        border-bottom: 1px solid #e5e5e5;
    }

    .modal-footer {
        border-top: 1px solid #e5e5e5;
    }

    .modal-title {
        text-align: center;
        font-size: 18px;
    }

    .modal-body {
        text-align: center;
        margin: 15px 0;
    }

    .btn-primary, .btn-secondary {
        background-color: #64C2DB;
        border-color: #64C2DB;
        color: white;
        padding: 10px;
        border-radius: 8px;
        width: 100%;
        border: 0px;
        margin-top: 10px;
        cursor: pointer;
    }

    .btn-primary:hover, .btn-secondary:hover {
        background-color: #4fa6bd;
        border-color: #4fa6bd;
    }

    .jconfirm {
        z-index: 10000 !important;
    }
    .jconfirm-box {
        margin: 0 auto;
        top: 50% !important;
    }

    .jc-bs3-row.row.justify-content-md-center.justify-content-sm-center.justify-content-xs-center.justify-content-lg-center{
        margin: 0 auto;
    }
</style>
{% endblock %}
{% block content %}
<div class="listing-create-container">
    <h2>Edit Listing - {{ form.instance.project_name }} </h2>
    <form id="listing-edit-form" method="post" enctype="multipart/form-data" class="listing-create-form">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div id="form-content">
            {% for field_name in field_order %}
                {% with form|get_field:field_name as field %}
                <div class="listing-create-form-group {% if field_name in 'lease_term current_lease_rate_per_acre lease_escalation_rate' %}lease-field{% endif %}{% if field_name == 'battery_storage' %} battery-storage{% endif %}" {% if field_name == 'battery_storage' %}style="display: none;"{% endif %}>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endwith %}
            {% endfor %}
        </div>

        <h3>Existing Images</h3>
        {% for image in existing_images %}
            <div class="listing-create-form-group">
                <img src="{{ image.image.url }}" alt="Image" width="100">
                <label>
                    <input type="checkbox" name="delete_images" value="{{ image.id }}">
                    Delete
                </label>
            </div>
        {% endfor %}

        <h3>Listing Images</h3>
        <div class="listing-create-form-group">
            <label for="id_images">Upload Images</label>
            <input type="file" id="id_images" name="images" multiple>
            <small class="form-text text-muted">You can select multiple images or drag and drop them here.</small>
        </div>

        <button id="submit-button" type="submit" class="listing-create-btn btn btn-primary">Update Listing</button>
    </form>
</div>

<!-- Popup Message -->
<div id="success-popup" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popup-title"></h5>
            </div>
            <div class="modal-body">
                <p id="popup-message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="popup-close-btn">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation Message -->
<div id="confirmation-popup" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to set the listing to inactive? Activating the listing will cost a new listing count.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirm-yes-btn">Yes</button>
                <button type="button" class="btn btn-secondary" id="confirm-no-btn">No</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script>
    function initializeTinyMCE() {
        tinymce.remove();
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists link',
            menubar: false,
            toolbar: 'bold italic underline | bullist numlist | link',
            height: 300,
            branding: false,
            forced_root_block: 'p',
            content_css: false,
            content_style: "body { font-family:Helvetica,Arial,sans-serif; font-size:14px }",
            valid_elements: 'p,b,strong,i,em,a[href],ul,ol,li',
            invalid_elements: 'script,iframe,object,embed',
            license_key: 'gpl'
        });
    }

    function toggleLeaseFields() {
        var propertyTypeElement = document.getElementById('id_property_type');
        if (!propertyTypeElement) {
            console.error('Element with ID id_property_type not found.');
            return;
        }
        var leaseFields = document.querySelectorAll('.lease-field');
        var propertyType = propertyTypeElement.value;
        console.log('Property Type:', propertyType);
        leaseFields.forEach(function (fieldElement) {
            if (propertyType === 'lease') {
                fieldElement.style.display = 'block';
            } else {
                fieldElement.style.display = 'none';
            }
        });
    }

    function toggleBatteryStorage() {
        var batteryField = document.querySelector('.battery-storage');
        if (!batteryField) {
            console.error('Element with class battery-storage not found.');
            return;
        }
        var selectedCategories = Array.from(document.querySelectorAll('#id_categories input[type="checkbox"]:checked')).map(cb => cb.labels[0].textContent.trim());
        if (selectedCategories.includes('BESS')) {
            batteryField.style.display = 'block';
        } else {
            batteryField.style.display = 'none';
        }
    }

    function handleStateFieldLogic() {
        var countryId = $('#id_project_country').val();
        var stateFieldWrapper = $('.listing-create-form-group:has(#id_project_state)');

        if (countryId === "{{ 230 }}" || countryId === "{{ 39 }}") {
            stateFieldWrapper.show();
            var url = "{% url 'listing_load_states' %}";
            $.ajax({
                url: url,
                data: {
                    'country_id': countryId
                },
                success: function (data) {
                    var stateSelect = $('#id_project_state');
                    stateSelect.html('<option value="">Select a state</option>');
                    $.each(data, function (key, value) {
                        stateSelect.append('<option value="' + value.id + '">' + value.name + '</option>');
                        stateSelect.val('{{ form.instance.project_state.id }}');
                    });
                }
            });
        } else {
            stateFieldWrapper.hide();
            $('#id_project_state').html('<option value="">Not applicable</option>');
        }
    }

    function scrollToFirstError() {
        var firstErrorElement = $('.is-invalid').first();
        if (firstErrorElement.length) {
            $('html, body').animate({
                scrollTop: firstErrorElement.offset().top - 100
            }, 1000);
        }
    }

    function reinitializeFormElements() {
        console.log('Reinitializing form elements');

        if (document.getElementById('id_property_type')) {
            initializeTinyMCE();
            toggleLeaseFields();
            toggleBatteryStorage();
            handleStateFieldLogic();
        } else {
            console.error('Required elements for reinitialization not found.');
        }
    }

    $(document).ready(function() {
        console.log('Document is ready');
        if (document.getElementById('id_property_type')) {
            document.getElementById('id_property_type').addEventListener('change', toggleLeaseFields);
        }
        $('#id_categories').change(toggleBatteryStorage);

        toggleLeaseFields();
        toggleBatteryStorage();

        $('#id_project_country').change(handleStateFieldLogic);

        var countrySelect = document.getElementById('id_project_country');
        var selectedCountry = countrySelect.value;
        if (selectedCountry) {
            $(countrySelect).trigger('change');
        }

        $('#id_project_country').val('{{ form.instance.project_country.id }}').trigger('change');

        function submitForm() {
            var form = $('#listingForm');
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.redirect_url;
                    } else {
                        console.error('Form submission failed:', response);
                        scrollToFirstError();
                        reinitializeFormElements();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Form submission error:', textStatus, errorThrown);
                    reinitializeFormElements();
                }
            });
        }

        $('#listingForm').on('submit', function (e) {
            e.preventDefault();
            submitForm();
        });
    });
</script>

{% endblock %}
