{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% load static %}
{% block content %}
<div class="background-container">
    <div class="header-text">Find your next commercial property</div>
    <div class="search-container">
        <h1>Find New Projects</h1>
        <form id="search-form" action="{% url 'all_listings' %}" method="GET">
            <div class="search-fields">
                <div class="field">
                    <label for="location">Location</label>
                    <input type="text" id="location" name="location" placeholder="Enter location">
                </div>
                <div class="field">
                    <label for="property-type">Property Type</label>
                    <select id="property-type" name="categories[]">
                        <option value="">All</option>
                        {% for category in categories %}
                            <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label for="price-min">Min Price</label>
                    <input type="number" id="price-min" name="price_min" placeholder="Min Price" min="0">
                </div>
                <div class="field">
                    <label for="price-max">Max Price</label>
                    <input type="number" id="price-max" name="price_max" placeholder="Max Price" min="0">
                </div>
                <div class="field">
                    <button type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="categories-container">
    <h2 class="categories-header">Browse Projects by Category</h2>
    <div class="slider-container categories-slider">
        {% for category in categories %}
            <div class="category-box product-item">
                <a href="{{ category.get_absolute_url }}">
                    <div class="category-icon">
                        {% if category.icon %}
                            <img src="{{ category.icon.url }}" alt="{{ category.name }}">
                        {% else %}
                            <img src="{% static 'icon/category_icon.png' %}" alt="{{ category.name }}">
                        {% endif %}
                    </div>
                    <div class="category-info">
                        <h3>{{ category.name }}</h3>
                        <p>{{ category.listing_set.count }} Projects</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<div class="listings-container">
    <h2 class="listings-header">Featured Listings</h2>
    <div class="slider-container featured-slider">
        {% for listing in featured_listings %}
        {% autoescape off %}
        <div class="listing-box">
            <div class="listing-thumbnail-image">
                <a href="{{ listing.thumbnail_image.url }}" class="listing-popup-link"><img src="{{ listing.thumbnail_image.url }}" alt="Image for {{ listing.project_name }}"></a>
            </div>
            <h2>{{ listing.project_name|truncatewords:3 }}</h2>
            <p>{{ listing.project_address }}</p>
            <p>Updated at: {{ listing.updated_at|truncatewords:1 }}</p>
            <div class="listing-bottom">
                <p class="price">Price: {{ listing.sales_price }}</p>
                <a href="{% url 'listing_detail' listing.slug %}" class="view-details-btn">View Details</a>
            </div>
        </div>
        {% endautoescape %}
        {% endfor %}
    </div>
</div>

<div class="listings-container">
    <h2 class="listings-header">Latest Listings</h2>
    <div class="slider-container normal-slider">
        {% for listing in normal_listings %}
        {% autoescape off %}
        <div class="listing-box">
            <div class="listing-thumbnail-image">
                <a href="{% url 'listing_detail' slug=listing.slug %}" class="listing-popup-link">
                    <img src="{{ listing.thumbnail_image.url }}" alt="Image for {{ listing.project_name }}">
                </a>                
            </div>
            <h2>{{ listing.project_name|truncatewords:3 }}</h2>
            <p>{{ listing.project_address }}</p>
            <p>{{ listing.updated_at|truncatewords:1}}</p>
            <div class="listing-bottom">
                <p class="price">Price: {{ listing.sales_price }}</p>
                <a href="{% url 'listing_detail' listing.slug %}" class="view-details-btn">View Details</a>
            </div>
        </div>
        {% endautoescape %}
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/styles.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"/>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
    $(document).ready(function(){
        function initSlick(selector, slidesToShowDesktop, slidesToShowMobile) {
            $(selector).slick({
                slidesToShow: slidesToShowDesktop,
                slidesToScroll: 1,
                infinite: true,
                dots: true,
                autoplay: true,
                autoplaySpeed: 2000,
                prevArrow: '<button class="slick-prev">Previous</button>',
                nextArrow: '<button class="slick-next">Next</button>',
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: slidesToShowMobile,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        }

        initSlick('.featured-slider', 4, 2);
        initSlick('.normal-slider', 4, 2);
        initSlick('.categories-slider', 4, 1);

        // Fetch state data and initialize autocomplete
        $.ajax({
            url: '{% url "state_autocomplete" %}',
            success: function(data) {
                $('#location').autocomplete({
                    source: data,
                    minLength: 0,
                    select: function(event, ui) {
                        $('#location').val(ui.item.value);
                    }
                }).focus(function() {
                    $(this).autocomplete("search", "");
                });
            }
        });
    });
</script>
{% endblock %}