{% extends "base.html" %}
{% block title %} {{ page.title }} {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
<style>
  .content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; /* Left align */
      padding: 40px;
      box-sizing: border-box;
  }

  .content-wrapper h2 {
      margin-bottom: 20px;
      font-size: 2em; /* Ensure the title stands out */
  }

  .content {
      width: 100%;
  }

  /* Ensure proper mobile optimization */
  @media (max-width: 768px) {
      .content-wrapper {
          padding: 10px;
      }
  }
</style>
{% endblock %}
{% block content %}
  <div class="content-wrapper">
    <h2>{{ page.title }}</h2>
    <div class="content">{{ page.content|safe }}</div>
  </div>
{% endblock %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
{% endblock %}
