{% extends "base.html" %}
{% block title %}Transaction History{% endblock %}
{% block content %}
    <style>
        .transaction-container {
            padding: 20px;
            margin: auto;
            max-width: 1000px;
        }

        .transaction-header {
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
            color: #333;
        }

        .transaction-table-container {
            overflow-x: auto;
        }

        .transaction-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        .transaction-table th, .transaction-table td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        .transaction-table th {
            background-color: #f4f4f4;
            font-weight: bold;
        }

        .transaction-table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .transaction-table tr:hover {
            background-color: #f1f1f1;
        }

        .transaction-table td {
            color: #555;
        }

        .pagination {
            text-align: center;
            margin-top: 20px;
        }

        .pagination .step-links a {
            margin: 0 5px;
            padding: 5px 10px;
            text-decoration: none;
            border: 1px solid #ddd;
            color: #333;
            border-radius: 3px;
        }

        .pagination .step-links a:hover {
            background-color: #f1f1f1;
        }

        .pagination .step-links .current {
            margin: 0 5px;
            padding: 5px 10px;
            border: 1px solid #ddd;
            background-color: #64C2DB;
            color: #fff;
            border-radius: 3px;
        }

        @media screen and (max-width: 600px) {
            .transaction-table thead {
                display: none;
            }

            .transaction-table, .transaction-table tbody, .transaction-table tr, .transaction-table td {
                display: block;
                width: 100%;
            }

            .transaction-table tr {
                margin-bottom: 15px;
            }

            .transaction-table td {
                text-align: right;
                padding-left: 50%;
                position: relative;
            }

            .transaction-table td::before {
                content: attr(data-label);
                position: absolute;
                left: 0;
                width: 50%;
                padding-left: 15px;
                font-weight: bold;
                text-align: left;
            }
        }

        .no-transactions {
            text-align: center;
            margin-top: 50px;
            color: #555;
        }

        .no-transactions h2 {
            color: #04436C;
            font-size: 1.8em;
            margin-bottom: 20px;
        }

        .no-transactions p {
            font-size: 1.1em;
            margin-bottom: 30px;
        }

        .no-transactions-buttons a {
            background-color: #64C2DB;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            font-size: 1em;
            transition: background-color 0.3s ease;
            display: inline-block;
            margin: 0 10px;
        }

        .no-transactions-buttons a:hover {
            background-color: #4fa6bd;
        }
    </style>

    {% if has_transactions %}
    <div class="transaction-container">
        <h2 class="transaction-header">Transaction History</h2>
        <div class="transaction-table-container">
            <table class="transaction-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Auto-Renewal</th>
                        <th>Transaction ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in page_obj %}
                    <tr>
                        <td>{{ transaction.transaction_date|date:"Y-m-d H:i" }}</td>
                        <td>${{ transaction.amount }}</td>
                        <td>{{ transaction.description }}</td>
                        <td>{{ transaction.transaction_type }}</td>
                        <td>{{ transaction.auto_renew_display }}</td>
                        <td>{{ transaction.transaction_id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    {% else %}
    <div class="no-transactions">
      <h2>You don't have any transactions</h2>
      <p>Why wait? Start by buying a package now to enjoy our services! Visit our FAQ section to learn more.</p>
      <div class="no-transactions-buttons">
        <a href="{% url 'buy_package_listing' %}">Buy Package</a>
        <a href="{% url 'faq_list' %}">FAQ</a>
      </div>
    </div>
    {% endif %}
{% endblock %}
